@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400');

@font-face {
  font-family: Timberline;
  src: url("./assets/fonts/Resistenza-Timberline-Regular.otf") format("opentype");
}

@font-face {
  font-family: SnellRoundhand;
  src: url("./assets/fonts/SnellRoundhand-BlackScript.otf");
}

@font-face {
  font-family: Requiem;
  src: url("./assets/fonts/RequiemFine-HTF-Roman.otf");
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.app {
  box-sizing: border-box;
  font-family: 'open sans', sans-serif;
  z-index: 100;
}

.app-main {
  position: relative;
  min-height: 100%;
  margin-bottom: 320px; /* need to be equal to footer height */ /* not sure if negative */
  background-color: #FAFAFA;
}

h1 {
  text-align: center;
  font-size: 8rem;
  font-family: 'Timberline';
}

a {
  text-decoration: none;
  &:focus, &:hover, &:visited, &:link, &:active {
    text-decoration: none;
    color: none;
  }
}

/* Rules from MERN Stack Tutorial */

/* ==================== DISABLING RULES ==================== */

.work-in-progress {
  display: none;
}

.work-in-progress--construction {
  display: none;
}

.work-in-progress--maintenance {
  visibility: hidden;
}

/*------*/

// .App {
//   text-align: center;
//   height: 2000px;
// }

// .App-logo {
//   animation: App-logo-spin infinite 20s linear;
//   height: 80px;
// }

// .App-title {
//   font-size: 1.5em;
// }

// .App-intro {
//   font-size: large;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
