
.features__background-banner {
  position: relative;
  height: 360px;
  background-image: url('../../assets/img/foodprinted_sidedish.jpg');
  background-size: 100%;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.features__overlay {
  height: inherit;
  background-color: rgba(0, 0, 0, 0.8);
}

.heading {
  color: white;
  text-align: center;
  padding: 60px 120px;
}
