@import url('https://fonts.googleapis.com/css?family=Montserrat:800');


.navbar {
  height: 88px;
  background-color: transparent;
  transition: .5s;
}

.navbar--shrink {
  height: 60px;
  background-color: #fff;
  -webkit-box-shadow: 0px 16px 32px -10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 16px 32px -10px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 16px 32px -10px rgba(0, 0, 0, 0.2);
  transition: .5s;
}

.navbar__brand, .navbar__toggler {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-weight: 200;
  font-size: 0.9em;
  letter-spacing: 0.45rem;
  text-transform: uppercase;
}

.navbar__item {
  font-family: 'Lato', sans-serif;
  /* font-weight: 300;
  font-size: 0.8rem;
  letter-spacing: .02rem;
  text-transform: uppercase; */
  font-weight: 100;
  letter-spacing: 0.02rem;
}

.navbar__item__link {
  color: #fff;
}

.navbar__item__link:hover, .nav__item__link:active {
  color: rgb(110, 110, 110);
  transition: .2s
}

.navbar__item__link--dropdown {
  color: #754c29;
}

.navbar__item__link--dropdown:hover {
  color: #795548;
}



.navbar--shrink a:hover, .navbar--shrink a:active {
  color: rgb(110, 110, 110);
}

.navbar--shrink .navbar__brand--grey {
  color: rgb(110, 110, 110);
}

.navbar--shrink a:hover .navbar__brand--grey {
  color: rgb(110, 110, 110);
}

.navbar--not-homepage {
  background-color: #fff !important;
  /* background-color: #754c29 !important; */
}

.navbar--not-homepage a {
  color: #754c29;
}

.navbar--shrink a, .navbar--shrink .navbar__brand {
  color: #795548;
}