.recipe-nutritions {
  margin: 12px;
  margin-left: 0px;
  float: left;
  display: block;
  width: 320px;
  height: 360px;
  background-color: #f9f9f9;
  font-size: 12px;

}

.nutrition-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
}

.nutritions-ul-types {
  list-style: none;
  width: 100px;
  float: left;
  font-weight: 600;
  line-height: 2.2;
}

.nutritions-ul-values {
  list-style: none;
  width: 100px;
  float: right;
  font-weight: 300;
  line-height: 2.2;

}

.nutrition-toggle {
  margin: 0 auto;
}

.nutrition-button {
  border: none;
  border-width: thin;
  border-color: DodgerBlue;
  display: inline;
  width: 120px;
  height: 32px;
  background-color: #f9f9f9;
  color: black;
  font-size: 10px;
  z-index: 1;
  transition: .4s;
}

.nutrition-button--selected {
  background-color: DodgerBlue;
  color: white;
}
